*.o
*.nnue
*.gcda
*.gcno
*.profraw
*.profdata
__pycache__/
src/.depend
src/.build_*.txt
src/stockfish*
src/alienfish*
src/universal/network_dump.inc
*.afl
*.afl.lock/
*.sqlite3
*.sqlite3-wal
*.sqlite3-shm
build/
src/PGOBENCH.out
!data/*.afl
